<title><% title "FAQ"%></title>
<h3 class="text-center" style="color:#CCC" >Preguntas Frecuentes</h3>
<ul>
<br>

 <li>¿Qué es un jugador tóxico?  </li><br>

 <strong>R//</strong>Conoce la definición oficial en: Cómo usar la página <a href="/howto">(link)</a><hr>


 <li>¿Cómo le doy un buen uso a la página?  </li><br>

  <strong>R//</strong>Sigue nuestra guía básica en: Cómo usar la página <a href="/howto">(link)</a><hr>


 <li>¿Cómo me vuelvo un mejor jugador para evitar entrar en la Lista Negra?</li><br>

  <strong>R//</strong>Sigue la guía básica que puedes encontrar en: Cómo mejorar <a href="/FAQ">(link)</a><hr>


 <li>¿Es League of Legends Blacklist una página de Riot Games?</li><br>

 <strong>R//</strong> No, League of Legends Blacklist es una página web desarrollada por Rolem Media Group, perteneciente a Rolem S.A.S. y es un servicio totalmente gratuito que se le presta a la comunidad como respuesta a la creciente inconformidad de muchos jugadores.League of Legends, sus páginas web, personajes, logos y demás, son propiedad exclusiva y marcas registradas de Riot Games Inc.Esta página no refleja las visiones u opiniones de Riot Games Inc. Ni nadie oficialmente involucrado en producir o administrar League of Legends.<hr>


 <li>¿Por qué se tomaron el tiempo y el esfuerzo de construir League of Legends Blacklist?</li><br>

<strong>R//</strong> Porque nos cansamos de los jugadores tóxicos en LoL y queremos ser parte de la solución al problema. Porque queremos hacerle un servicio a la comunidad para que esta siempre sea mejor. Porque tenemos el conocimiento y los recursos para hacerlo, y uno siempre debe poner su granito de arena para aportarle a la comunidad cuando puede hacerlo<hr>


 <li>¿Cómo se sostiene económicamente la página?</li><br>

 <strong>R//</strong> En un principio, la página se sostiene con nuestros recursos personales. Pero más adelante la página será auto sostenible por medio de anuncios y donaciones que los usuarios nos hagan de manera voluntaria.<hr>

</ul>