<title><% title "Cómo mejorar"%></title>
        <h3 class="text-center" style="color:#CCC" >Cómo mejorar</h3>
        <br><br><br>

        <p style="color:#CCC" >Si quieres evitar llegar a la lista negra, o si ya estás en ella pero no quieres seguir llegando al tope, sigue los consejos básicos que te da esta guía:</p>
  

        <i>
        <center><iframe width="640" height="480" src="//www.youtube.com/embed/3efAK1IV_i8" frameborder="0" allowfullscreen></iframe></center><br>

        <p style="color:#CCC" >“Se requiere bastante esfuerzo para ganar un juego en League of Legends: concentración, habilidad y trabajo en equipo, sólo para mencionar algunas variables. El trabajo en equipo es algo que siempre nos generó curiosidad, por lo que decidimos ahondar en el tema sólo para darnos cuenta que los jugadores en equipo realmente ganan más partidas que los que tienen una mentalidad más individualista.</p>
        <p style="color:#CCC" >Lo que encontramos fue intrigante y sorprendente al mismo tiempo. El trabajo en equipo es una habilidad que aprendes, no es un número al que llegas como ser el de la cantidad de súbditos que has matado en una partida o ese índice extraordinario de asesinatos-muertes que usas para alardear. En este video, hablaremos sobre los efectos positivos del trabajo conjunto y cómo puedes mejorar personalmente tus chances de salir victorioso promoviendo el trabajo en equipo y siendo un buen compañero.”</p>
        </i>
        

        <p style="color:#CCC" >Sabemos que hay muchas otras maneras de mejorar en el juego, pero en este caso queremos que aprendas las normas de convivencia básica con las cuales podremos construir una mejor comunidad entre todos.</p>        

        <p style="color:#CCC" >Derechos de Autor: El video anterior fue elaborado por Riot Games Latino, y su creación no tuvo relación alguna con League of Legends Blacklist, ni con Rolem Media Group.</p>
        <hr>
