<title><% title "Cómo usar la página"%></title>
        <h3 class="text-center" style="color:#CCC" >Cómo usar la página</h3>
        <br><br><br>

        <p style="color:#CCC" >Empecemos por la definición oficial que un Diseñador del juego le dio a la palabra “tóxico”:</p>
        <BR>


        <i>
        <p style="color:#CCC" >“La razón por la que utilizamos la palabra "tóxico" es muy intencional.</p>

        <p style="color:#CCC" >En nuestras observaciones e investigaciones sobre comportamiento de los jugadores, nos encontramos con que una sola fuente de comportamientos negativos puede pasar a través de cientos o miles de juegos. Por ejemplo, digamos que tenemos una partida con 10 jugadores - 9 son positivos, y 1 es negativo. El jugador negativo es racista, ruge todo el partido, y deja intencionalmente el juego. Esta experiencia puede influir negativamente en algunos de los otros 9 jugadores positivos en el juego. Algunos de estos 9 jugadores jugarán otra partida de League of Legends y en vez de ser positivos, pueden iniciar el juego neutrales o negativos. Sus acciones pueden influir en otros 9 jugadores en el juego, y la toxicidad se esparce.”.</p>
        <p style="color:#CCC" >Una sola acción negativa podría dar lugar a miles de juegos con incidencias negativas”</p>
        </i>
        

        <p style="color:#CCC" >Ahora, cuando reportas a un usuario en League of Legends Blacklist, este NO queda permanentemente baneado de tu cuenta ni nada por el estilo, además, los usuarios que se encuentran en el top de la Lista Negra (Black List) tampoco son baneados. Por esto mismo te daremos unas recomendaciones básicas para sacarle todo el provecho posible a la página. Si no quieres tener una mala experiencia al encontrarte con un usuario que está en el top de la Lista Negra, sigue las siguientes instrucciones:</p>

        <ul>
         <li>Si te encuentras a un usuario toxico durante una partida, no olvides venir a League of Legends Blacklist para reportarlo después. Cada vez que reportas a un jugador toxico aquí, le estás haciendo un servicio a la comunidad, evitando que otros jugadores como tu tengan malas experiencias de juego en el futuro. Recuerda que tú te beneficias de la Lista Negra gracias a que otros usuarios constantemente reportan a los jugadores tóxicos que encuentran en su camino!</li> 
        <li>A modo preventivo, pon a los usuarios que se encuentran por lo menos en el top 20 de la Lista Negra en tu lista de usuarios ignorados. De esta manera, cuando te los encuentres en una partida no vas a tener que soportar sus insultos y quejas constantes por medio del chat, y podrás seguir concentrado en jugar bien. (esto no va a evitar que te los encuentres, ni tampoco va a evitar que ellos jueguen mal)</li>

        <li>Si te encuentras a un usuario que haga parte de la Lista Negra y logras identificarlo antes de que empiece la partida (durante la selección de personajes), lo mejor que puedes hacer es salirte de la misma (hacer dodge), evitando desperdiciar tu valioso tiempo al tener que jugar con usuarios tóxicos.Pero ten cuidado, NO te estamos recomendando irte AFK, NI hacer Rage Quit después de haber empezado la partida!, ese tipo de conductas toxicas solo lograran que tú mismo seas quien llegue al tope de la Lista Negra.</li>

        <li>Si estas organizando una partida custom y un usuario de la Lista Negra entra a tu sala, sácalo de inmediato!.</li>

        <li>Si te encuentras a un usuario toxico durante una partida, no olvides venir a League of Legends Blacklist para reportarlo después. Cada vez que reportas a un jugador toxico aquí, le estás haciendo un servicio a la comunidad, evitando que otros jugadores como tu tengan malas experiencias de juego en el futuro. Recuerda que tú te beneficias de la Lista Negra gracias a que otros usuarios constantemente reportan a los jugadores tóxicos que encuentran en su camino!.</li>

        <li>A modo preventivo, pon a los usuarios que se encuentran por lo menos en el top 20 de la Lista Negra en tu lista de usuarios ignorados. De esta manera, cuando te los encuentres en una partida no vas a tener que soportar sus insultos y quejas constantes por medio del chat, y podrás seguir concentrado en jugar bien. (esto no va a evitar que te los encuentres, ni tampoco va a evitar que ellos jueguen mal).</li>

        <li>Si te encuentras a un usuario que haga parte de la Lista Negra y logras identificarlo antes de que empiece la partida (durante la selección de personajes), lo mejor que puedes hacer es salirte de la misma (hacer dodge), evitando desperdiciar tu valioso tiempo al tener que jugar con usuarios tóxicos.Pero ten cuidado, NO te estamos recomendando irte AFK, NI hacer Rage Quit después de haber empezado la partida!, ese tipo de conductas toxicas solo lograran que tú mismo seas quien llegue al tope de la Lista Negra..</li>

        <li>Si estas organizando una partida custom y un usuario de la Lista Negra entra a tu sala, sácalo de inmediato!.</li>

        </ul>

        <p style="color:#CCC" >Esta lista de consejos no es definitiva y se encuentra en permanente construcción, así como la misma página. Agradecemos cualquier sugerencia o feedback que nos puedas dar para mejorar el contenido y la funcionalidad de las mismas.</p>
        <hr>
