<h5>Contactanos! y aprende más sobre nosotros!</h5>

<center><%= form_for(@correo) do |c| %>
	<%= c.email_field :correo, placeholder: 'Correo eletrónico', required: "required"  %>
	<%= c.submit 'Registrate!' %>
<% end %></center>