
<center>


<div class="span4 well">
<%= form_for(@correo) do |c| %>


	<%= c.email_field :correo, placeholder: 'Correo eletrónico', required: "required"  %>
		
	<%= c.submit 'Registrate!' %>

<% end %>
</div></center>