<center>
<h5>Contactanos! y aprende más sobre nosotros!</h5>

<%= form_for(@correo) do |c| %>
	<div class="span11"><%= c.email_field :correo, placeholder: 'Correo eletrónico', required: "required"  %></div>
	<div class="span11"><%= c.submit 'Registrate!' %></div>
<% end %></center>