<h1>Listing reports</h1>

  <table class="table">
    <thead>
      <tr>
        <th> <h4>Summoner Name</h4> </th>
        <th> <h4># of Report</h4></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @frecuencias.each do |user, frecuencia,report| %>
      <tr>
      <td><%= user %></td>
      <td><%= frecuencia %> </td>
      <td><%= link_to 'Show', report %></td>
    </tr>
    <% end %>
  </tbody>

</table>

</div>


