<footer>


      <table class="table" >
        <thead>
          <tr>
            <th ></th>
            <th class="span3"><%= link_to 'https://www.facebook.com/rolemgaming',:style => "text-decoration:none; ",   target: '_blank'  do %>
          <p style=" color:#CCC;"> <i><b>R</b><i>olem</i> <i><b>M</b>edia</i> <i><b>G</b>roup</i> </p><% end -%>
        <div id="cdSiteSeal1">
              <script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb731e13cd7aef48133ead1dmy7mb7355e4ye72ed0ce96d7dc49eb3"></script>
              </div></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th>
              <center>
                <table class="span3">
                  <tr>
                <td><a class="FlattrButton" style="display:none;" href="http://www.leagueoflegendsblacklist.com/"></a></td>
                <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="CY7FFCMCP84KJ">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG_global.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form></td>
                </tr>
                </table>
              </center>
            </th>



          </tr>
        </thead>

      </table>


</footer>